# Ferramentas de transformação
dbt-core==1.6.0
dbt-postgres==1.6.0

# Orquestração
apache-airflow==2.5.1

# Conexão com PostgreSQL
psycopg2-binary==2.9.9
sqlalchemy>=1.4,<2.0

# Leitura de Excel
openpyxl

# Manipulação de dados
pandas
numpy

# API
fastapi
uvicorn[standard]
